h1 {
  text-align: center;
  color:black ;
  font-size: 28px;
  
}

.form{
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  background-color:rgba(206, 240, 231, 0.973);
  width: 500px;
}
